// Базовые цвета
$baseColorWhite: #fff;
//$baseColorDark: #080716;
$baseColorDark: #1b1c1e;
$baseColorInactive: #939393;
$baseLightBg: #ebeef4;
$baseDarkBg: #474646;

// Цвета статусов
$statusColorActive: #189251;
$statusColorInActive: #ff5f37;
$statusColorSpecifying: #512da8;
$statusColorSpecifyingHover: #512da8;
$statusColorPending: #1b71c1;
$statusColorPause: #daa700;

// Цвета кнопок и состояний

$additionalPurple: #512da8;
$additionalRed: #cd4e2e;

$primaryDarkGrey: rgba(71, 70, 70, 0.6);

// Дополнительное
$borderColorDark: #2e2d33;
$backgroundGrey: #47464699;
