// Базовые цвета
$baseColorWhite: #fff;
$baseColorDark: #080716;
$baseColorInactive: #939393;
$baseLightBg: #ebeef4;
$baseDarkBg: #474646;

// Цвета статусов
$statusColorActive: #14ae5c;
$statusColorInActive: #ff5f37;
$statusColorSpecifying: #9747ff;
$statusColorSpecifyingHover: #722cce;
$statusColorPending: #1c89ee;
$statusColorPause: #daa700;

// Цвета кнопок и состояний

$additionalPurple: #512da8;
$additionalRed: #cd4e2e;

$primaryDarkgrey: rgba(71, 70, 70, 0.6);


// Дополнительное
$borderColorDark: #2e2d33;
