@import 'src/app/styles/variables.scss';

.statisticsAnalytics {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 449px;
  height: 395px;
}

.statisticsAnalytics__title {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  color: $baseColorWhite;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.statisticsAnalytics__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  color: $baseColorWhite;
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
}

