@import 'src/app/styles/variables.scss';

.navLink {
  text-decoration: 0;
}

.allContentCard {
  margin: 0;
  padding: 0;
  width: 1047px;
  height: 102px;
  border: 1px solid #939393;
  transition: border-color 0.3s;
  box-sizing: border-box;
  &:hover {
    border-color: $statusColorSpecifyingHover;
  }
}

.allContentCard__avatar {
  margin: 0;
  margin-left: 11px;
  padding: 0;
  width: 48px;
  height: 48px;
}

.allContentCard__telegramAcc {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #939393;
  max-width: 147px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.allContentCard__arrow {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 11px;
}

.allContentCard__contentGroup {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 21px;
}

.allContentCard__data {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.allContentCard__calendar {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.allContentCard__dataNumber {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-weight: 400;
  font-size: 13px;
  line-height: 120%;
  color: $baseColorWhite;
}

.allContentCard__text {
  color: $baseColorWhite;
  font-family: 'YSText';
  line-height: 120%;
}
