@import 'src/app/styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 24px;
  height: 24px;
}

.text {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.link {
  margin: 0;
  padding: 0;
  color: $baseColorInactive;
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
}
