@import 'src/app/styles/variables.scss';

.main {
  display: flex;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
}

.navBar {
  padding-bottom: 40px;
}

.navList {
  margin: 0;
  padding: 0;
  color: $baseColorWhite;
  display: flex;
  gap: 44px;
}

.navItem {
  list-style: none;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 9px;
  border-bottom: 3px solid transparent;

  &.active {
    color: $statusColorActive;
    border-bottom: 3px solid $statusColorActive;
    transition: color 0.3s ease;
    transition: border-bottom 0.3s ease;
  }
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  color: $baseLightBg;
  padding-bottom: 32px;
}

.btnWrapper {
  align-self: flex-end;
}

.btn {
  width: 244px;
  border: none;
  border-radius: 4px;
  background-color: $statusColorSpecifying;
  color: $baseColorWhite;
  padding: 13px;
  cursor: pointer;
  font-family: 'YSText';
  font-size: 18px;
  font-weight: 500;
}

.pageTitle {
  font-family: 'YSDisplay';
  font-size: 24px;
  font-weight: 400;
}

.titleBtnWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}
