@import 'src/app/styles/variables.scss';

.card {
  margin: 0;
  padding: 0;
  border-left: 4px solid $statusColorSpecifying;
  font-family: 'YSText';
  color: $baseColorWhite;
  padding-left: 12px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 280px;
  height: 81px;
}

.title {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.name {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
}

.date {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
}