@import 'src/app/styles/variables.scss';

.main {
  display: flex;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
}

.navBar {
  padding-bottom: 40px;
}

.navList {
  margin: 0;
  padding: 0;
  color: $baseColorWhite;
  display: flex;
  gap: 95px;
}

.navItem {
  list-style: none;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 9px;
  border-bottom: 3px solid transparent;

  &.active {
    color: $statusColorActive;
    border-bottom: 3px solid $statusColorActive;
    transition: color 0.3s ease;
    transition: border-bottom 0.3s ease;
  }
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  color: $baseLightBg;
  padding-bottom: 32px;
}

.btnWrapper {
  align-self: flex-end;
}

.btn {
  width: 244px;
  border: none;
  border-radius: 4px;
  background-color: $statusColorSpecifying;
  color: $baseColorWhite;
  padding: 13px;
  cursor: pointer;
  font-family: 'YSText';
  font-size: 18px;
  font-weight: 500;
}

.allcontent {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 1072px;
}

.allcontent__searchGroup {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  display: flex;
  align-self: flex-end;
  gap: 32px;
}

.allcontent__search {
  margin: 0;
  padding: 0;
  width: 336px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 12px 16px 12px 48px;
  color: #939393;
  background-color: transparent;
  background-image: url('../../../shared/icons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 24px;
  background-position: 16px !important;
}

.allcontent__sortGroup {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  display: flex;
  gap: 34px;
  align-self: flex-end;
}

.allcontent__sort {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  align-self: center;
}

.allcontent__sortImage {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
}

.allcontent__sortText {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: $baseColorWhite;
}

.allcontent__reitingList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
