@font-face {
  font-family: 'YSDisplay';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./YSDisplay/YSDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'YSDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./YSDisplay/YSDisplay-Regular.ttf') format('truetype');
}
