@import 'src/app/styles/variables.scss';

.userInfoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatar {
  width: 32px;
  height: 32px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name {
  font-family: 'YSText';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $baseLightBg;
}

.tg {
  color: $baseColorInactive;
}
