@import 'src/app/styles/variables.scss';

.main {
  display: flex;
  gap: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  color: $baseColorWhite;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.headerTopWrapper {
  display: flex;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.pageTitle {
  font-family: 'YSDisplay';
  font-size: 24px;
  font-weight: 400;
}

.leftWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}
