@import 'src/app/styles/variables.scss';

.modalWrapper {
  border-radius: 8px;
  overflow: hidden;
}

.customPaperClass {
  max-width: 390px;
  box-shadow: none;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;
}

.btnWrapper {
  align-self: center;
  margin-top: 24px;
}

.title {
  font-family: 'YSDisplay';
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: $baseLightBg;
}

.text {
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: $baseLightBg;
}

.closeBtn {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 20px;
}
