.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 0 16px;
  width: 240px;
  flex-shrink: 0;
  height: calc(100vh - 90px);

  * {
    box-sizing: border-box;
  }
  position: relative;
}

.nav {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  position: absolute;
  bottom: 15px;
  padding: 0;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
}
