@import 'src/app/styles/variables.scss';

.cardContainer {
  border: 1px solid $borderColorDark;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  width: 336px;
}

.avatar {
  width: 48px;
  height: 48px;
}

.name {
  margin: 0;
  padding: 0;
  font-family: 'YSDisplay';
  font-size: 20px;
  font-weight: 500;
  line-height: 80%;
}

.position {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-size: 14px;
  font-weight: 400;
}

.dateContainer {
  display: flex;
  align-items: center;
}

.date {
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
}

.line {
  border-top: 1px solid $baseDarkBg;
  width: 100%;
}

.btnWrapper {
  width: 100%;
}

.btn {
  width: 100%;
  border: 1px solid $statusColorSpecifying;
  border-radius: 4px;
  background-color: transparent;
  color: $statusColorSpecifying;
  padding: 13px;
  cursor: pointer;
  font-family: 'YSText';
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: $baseColorWhite;
  }
}

.calendarIcon {
  margin-right: 10px;
}

.socialIcon {
  margin-right: 16px;
}

.socialWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tgLink {
  text-decoration: underline;
  margin: 0;
  padding: 0;
  font-family: 'YSText';
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: $baseLightBg;
}
