@import 'src/app/styles/variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableHeader {
  color: $baseColorWhite;
  display: flex;
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid $baseDarkBg;
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 500;
}

.tableBody {
  font-family: 'YSText';
  font-size: 14px;
  font-weight: 400;
}

.tableRaw {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $baseDarkBg;
  padding-bottom: 18px;
  transition: border-bottom-color 0.3s ease;
}

.userInfoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.tableLink {
  text-decoration: none;
  color: $baseColorWhite;
  padding: 18px;
}

.tableLink:hover .tableRaw {
  border-bottom-color: $statusColorSpecifying;
}

.idCell {
  width: 50px;
  display: flex;
  align-items: center;
}

.nameCell {
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.statusCell {
  width: 100px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.positionCell {
  width: 360px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.contactCell {
  width: 250px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.dateCell {
  width: 180px;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 5px;
  width: 69px;
  font-family: 'YSText';
  font-size: 11px;
  line-height: 100%;
  font-weight: 400;
}

.statusActive {
  color: $statusColorActive;
  border-color: $statusColorActive;
}

.statusOnPause {
  color: $statusColorPause;
  border-color: $statusColorPause;
}

.statusPendingConfirmation {
  color: $statusColorPending;
  border-color: $statusColorPending;
}

.statusInactive {
  color: $statusColorInActive;
  border-color: $statusColorInActive;
}

.textPosition {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
