@import 'src/app/styles/variables.scss';

.main {
  display: flex;
  gap: 50px;
}
.content {
  color: aliceblue;
}
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.tableWrapper {
  margin-top: 42px;
}

.headerTopWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 194px;
  justify-content: flex-end;
  margin-bottom: 32px;
}

.pageTitle {
  margin: 0;
  padding: 0;
  padding-top: 9.5px;
  font-family: 'YSDisplay';
  font-size: 24px;
  font-weight: 400;
  
}

.leftWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.leftWrapper_disabled {
  display: none;
  visibility: hidden;
}

.rightWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
}


.sortWrapper {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 36px;
}

.downloadImg {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  align-self: center;
}

