@import 'src/app/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.inputIcons {
  gap: 10px;
  display: flex;
  align-items: center;
}

.menuTitle {
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: $baseLightBg;
}

.menuItem {
  font-family: 'YSText';
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: $baseLightBg;
}

.icon {
  width: 24px;
  height: 24px;
}

.background {
  border-radius: 10px;
  background-color: $backgroundGrey;
}
