.contentList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.contentList__element {
    margin: 0;
    border: 1px solid #FEFEFE;
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
    background-color: transparent;
    width: 672px;
    height: 115px;
    display: flex;
}

.contentList__left {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 246px;
    gap: 16px;
    border-right: 1px solid #FEFEFE;
    padding-right: 70px;
}

.contentList__person {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: left;
}

.contentList__title {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.contentList__fio{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}

.contentList__rating {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.contentList__paragraph {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 120%;
    color: #FFFFFF;
    align-self: center;
}

.contentList__ratingContainer {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
}

.contentList__arrow {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.contentList__raitingcount {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    color: #14AE5C;
    align-self: center;
}

.contentList__raitingcountYellow {
    color: #DAA700;
    
}

.contentList__right {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentList__titleContent {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.contentList__icons {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.contentList__icon {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contentList__imageIcon {
    margin: 0;
    padding: 0;
    width: 21px;
    height: 20px;
}

.contentList__count {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}
